services:
  app:
    build: .
    ports:
      - "9000:9000"
    environment:
      HOST: "0.0.0.0"
      PORT: "9000"
      DATABASE_URL: "host=postgres dbname=zzz_demo user=zzz password=zzz"
    depends_on:
      - postgres

  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: zzz_demo
      POSTGRES_USER: zzz
      POSTGRES_PASSWORD: zzz
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  pgdata:
